@use "../variables" as *;

%flex {
  align-items: center;
  display: flex;

  &-column {
    @extend %flex;

    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
  }
}

%grid {
  display: grid;
}

%page-width {
  margin: 0 auto;
  max-width: 1500px;
}