@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleDown{
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(0%);
  }
}

@keyframes scaleUp{
  from {
    transform: scale(98%);
  }
  to {
    transform: scale(100%);
  }
}