@use "../abstracts" as *;

.hover-shuffle {
  font-kerning: none;
  font-feature-settings: "liga" 0;
}

.big-text {
  font-family: forma-djr-mono, sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 200;
  margin: 0 auto;
  max-width: 800px;
  text-transform: capitalize;
  text-align: center;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.grid {
  &--50-50 {
    @extend %grid;
    row-gap: 3rem;
    grid-template-columns: 50% 50%;
  }
}

.logo {
  fill: $color-licorice;
}

.page-width {
  @extend %page-width;
}

.red  { 
  background-color: $color-red;
  color: $color-magnolia;

  .nav-link {
    color: $color-magnolia;
    font-weight: 300;
  }

  .logo {
    fill: $color-magnolia;
  }
}

.service--title,
.service--summary {
  font-size: 1.3rem; 
  line-height: 1.5;
  max-width: 400px;
}