@use "../abstracts" as *;

.header {
  @extend %page-width;
  
  display: flex;
  gap: 48px;
  margin-bottom: 60px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 0;
  }

  nav {
    display: none;
    @media screen and (min-width: $breakpoint-tablet) {
      display: block;
    }

    ul {
      display: flex;
      gap: 48px;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;        
      }
    }
  }

  .contact {
    margin-left: auto;
  }
}

a.nav-link {
  align-items: center;
  border-radius: 50px;
  box-shadow: -6px -6px 16px 0px rgba(0, 0, 0, 0.14) inset, 6px 6px 16px 0px rgba(255, 255, 255, 0.70) inset, 6px 6px 16px 0px rgba(0, 0, 0, 0.14), -6px -6px 16px 0px rgba(255, 255, 255, 0.70);
  display: flex;
  font-size: 24px;
  height: 52px;
  justify-content: center;
  line-height: 52px;
  padding: 0px 28px 8px 28px; 
  text-decoration: none;
  text-transform: lowercase;

  &.active {
    background: $color-red;
    color: $color-gray-1 !important;
    box-shadow: -2px -2px 2px 0px rgba(255, 255, 255, 0.25) inset, 3px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  }

  &:hover {

  }

  &:visited {
    color: $color-gray-main;
  }
}