@use "../abstracts" as *;

.services {

  .content {
    display: grid;
    gap: 60px;
    grid-template-columns: 40% 40%;
    justify-content: center;
    padding: 60px 10px;  

    @media screen and (min-width: $breakpoint-tablet) {
      gap: 80px;
      padding: 80px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      gap: 60px;
      grid-template-columns: 225px 225px 225px 225px;
      padding: 90px 15%;  
    }
  }

  .door {
    align-items: center;
    // background: $color-gray-1;
    border-radius: 24px;
    /* in/adjusted */
    box-shadow: 
    inset -6px -6px 12px 0px rgba(255, 255, 255, 0.30), 
    -2px -2px 8px 0px rgba(255, 255, 255, 0.25), 
    2px 2px 10.4px 0px rgba(0, 0, 0, 0.05), 
    3px 3px 9.1px 0px rgba(0, 0, 0, 0.08), 
    -8px -8px 12px 0px rgba(255, 255, 255, 0.30), 
    9px 9px 32px 0px rgba(0, 0, 0, 0.15), 
    inset -1px -1px 2px 0px rgba(255, 255, 255, 0.15), 
    inset 6px 6px 24px 0px rgba(0, 0, 0, 0.04);
    color: $color-gray-main;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    justify-content: center;
    height: 30vh;
    padding: 35px 30px;
    text-decoration: none;

    transition: box-shadow 1s linear;

    @media screen and (min-width: $breakpoint-desktop) {
      border-radius: 34px;
      font-size: 32px;
      height: 384px;
    }
  
    &:hover {

      
      background: $color-gray-1;

      /* In */
      box-shadow: 
      inset -12px -12px 32px 0px rgba(255, 255, 255, 0.70), 
      inset 12px 12px 32px 0px rgba(0, 0, 0, 0.14), 
      12px 12px 32px 0px rgba(255, 255, 255, 0.70), 
      -12px -12px 32px 0px rgba(0, 0, 0, 0.14);
      transition: box-shadow 1s linear;
      // background: $color-red;
      // color: $color-gray-1 !important;
      // box-shadow: -2px -2px 2px 0px rgba(255, 255, 255, 0.25) inset, 3px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
  
    }
  }

  .teaser {
    @extend %page-width;

    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media screen and (min-width: $breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    
    h3 {
      color: $color-gray-main;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 112.5% */
      text-transform: lowercase;

    }

    p {
      color: $color-gray-main;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 127.273% */
      text-align: right;
      text-transform: lowercase;
    }
  }  
}


.service {
  .content {
    @extend %page-width;

    align-items: center;
    align-self: stretch;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr;
    padding-bottom: 250px;

    @media screen and (min-width: $breakpoint-tablet) {
      gap: 10%;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 160px;
      row-gap: 20%;
    }

    @media screen and (min-width: $breakpoint-large-desktop) {
      gap: 5%;
      grid-template-columns: 20% 1fr 30%;
      padding: 140px 0;
    }
  
  
    .intro {
      grid-row: 2;

      @media screen and (min-width: $breakpoint-tablet) {
        grid-column: 1;
        grid-row: 1;
      }

      @media screen and (min-width: $breakpoint-large-desktop) {
        grid-column: 1;
        grid-row: 1;
      }

      h1 {
        color: $color-gray-main;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px; /* 112.5% */
        margin-top: 0;
        text-transform: lowercase;
      }

      .buttons {
        align-self: stretch;
        align-items: flex-start;
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .button {
          align-items: center;
          border-radius: 50px;
          border: 1px solid $color-gray-main;
          display: flex;
          font-size: 20px;
          justify-content: center;
          line-height: 1;
          padding: 12px 21px;
        }
      }
    }
    
    .description {
      align-self: stretch;
      color: $color-gray-main;
      display: flex;
      flex-direction: column;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      grid-row: 3;
      justify-content: center;
      line-height: 28px; /* 127.273% */
      text-transform: lowercase;      

      @media screen and (min-width: $breakpoint-tablet) {
        grid-column: 1;
        grid-row: 2;
      }

      @media screen and (min-width: $breakpoint-large-desktop) {
        grid-row: 1;
        grid-column: 3;
      }
    }

    .graphic {
      border-radius: 90px;
      box-shadow: 0px 30px 64px 0px rgba(149, 149, 149, 0.10), 0px 1px 2px 0px rgba(80, 73, 73, 0.15) inset;
      // border: 1px solid $color-gray-main;
      display: flex;
      grid-row: 1;
      text-align: center;
      justify-content: center;
      padding: 15%;

      @media screen and (min-width: $breakpoint-tablet) {
        grid-column: 2;
        grid-row: 1 / span 2;
        padding: 70px 85px;
      }

      @media screen and (min-width: $breakpoint-large-desktop) {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  aside {
    @extend %page-width;
    
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr;

    @media screen and (min-width: $breakpoint-desktop) {
      gap: 4%;
      grid-template-columns: 1fr 0.4fr;
    }

    @media screen and (min-width: $breakpoint-large-desktop) {
      gap: 8%;
    }

    > a {
      border-radius: 50px;
      box-shadow: -12px -12px 32px 0px rgba(0, 0, 0, 0.14) inset, 12px 12px 32px 0px rgba(255, 255, 255, 0.70) inset, 12px 12px 32px 0px rgba(0, 0, 0, 0.14), -12px -12px 32px 0px rgba(255, 255, 255, 0.70);
      font-size: 24px;
      height: 114px;
      line-height: 114px;
      text-align: center;
      text-transform: lowercase;  
    }
  }

  .navigation {
    align-items: center;
    border-radius: 50px;
    background: var(--background, #E8E8E8);
    bottom: 30px;
    box-shadow: -6px -6px 12px 0px rgba(255, 255, 255, 0.30) inset, -2px -2px 8px 0px rgba(255, 255, 255, 0.25), 2px 2px 10.4px 0px rgba(0, 0, 0, 0.05), 3px 3px 9.1px 0px rgba(0, 0, 0, 0.08), -8px -8px 12px 0px rgba(255, 255, 255, 0.30), 9px 9px 32px 0px rgba(0, 0, 0, 0.15), -1px -1px 2px 0px rgba(255, 255, 255, 0.15) inset, 6px 6px 24px 0px rgba(0, 0, 0, 0.04) inset;
    display: flex;
    flex: 1 0 0;
    justify-content: space-between; 
    left: 50%;
    padding: 0 15px;
    position: fixed;    
    transform: translateX(-50%);

    

    @media screen and (min-width: $breakpoint-desktop) {
      box-shadow: -12px -12px 32px 0px rgba(0, 0, 0, 0.14) inset, 12px 12px 32px 0px rgba(255, 255, 255, 0.70) inset, 12px 12px 32px 0px rgba(0, 0, 0, 0.14), -12px -12px 32px 0px rgba(255, 255, 255, 0.70);      
      height: 110px;      
      left: auto;
      padding: 0 60px 4px 60px;
      position: static;
      transform: translateX(0%);
    }

    ul {
      align-items: center;
      display: flex;
      gap: 10px;
      padding: 0;

      @media screen and (min-width: $breakpoint-desktop) {
        gap: 24px;
      }

      li {
        display: flex;
        width: 60px;
        height: 60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid $color-gray-main;
        padding: 4px;

        a, 
        svg {
          height: 40px;
          width: 40px;
        }

        svg {
          fill: $color-gray-main;
        }

        &:hover {
          border: none;
          background: $color-gray-1;
          box-shadow: -3px -3px 8px 0px rgba(255, 255, 255, 0.70) inset, 3px 3px 8px 0px rgba(0, 0, 0, 0.14) inset, 3px 3px 8px 0px rgba(255, 255, 255, 0.70), -3px -3px 8px 0px rgba(0, 0, 0, 0.14);
        }

        &.active {
          background: $color-red;
          border-color: transparent;
          box-shadow: -2px -2px 2px 0px rgba(255, 255, 255, 0.25) inset, 3px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;

          svg {
            fill: $color-gray-1;
          }
        }
      }
    }

    span {
      color: $color-gray-main;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1; 
      text-transform: lowercase;
    }
  }
}


