<nav>
  <ul>
    <li><a class="nav-link hover-shuffle" href="<%= relative_url '/work' %>" data-controller="hover-shuffle">Work</a>,</li>
    <li><a class="nav-link hover-shuffle" href="<%= relative_url '/services' %>" data-controller="hover-shuffle">Services</a></li>
  </ul>
</nav>
