@use "../abstracts" as *;

.erosion {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 36px;

    @media screen and (min-width: $breakpoint-tablet) {
      gap: 60px;
      grid-template-columns: 1fr 1fr;
    }

    .picture {
      width: 100% !important; 

      &:first-of-type {
        @media screen and (min-width: $breakpoint-tablet) {
          grid-column: span 2;
        }
      }
    }
  }
}